# AxTBot V2.1.1 Example Environment
# 有关配置说明 详见 https://docs.axtn.net/axtbot/v2.2/config/global
HOST="0.0.0.0"
PORT=8080
FRAMEWORK_CERT_RELOAD_ENABLED=false

FRAMEWORK_APPID="APPID"
FRAMEWORK_BOT_SECRET="BOT_SECRET"
FRAMEWORK_MEDIA_LOCAL_UPLOAD=true

FRAMEWORK_LOG_LEVEL="INFO"
FRAMEWORK_LOG_DIR="logs"

FRAMEWORK_PLUGINS_DIR="plugins"
# FRAMEWORK_DISABLE_PLUGINS={} # 该项出现问题 不可用

FRAMEWORK_PREFIX="/"

FRAMEWORK_COMMAND_TIMEOUT=60
FRAMEWORK_MAX_WORKERS=4
FRAMEWORK_DEBUG=false