# Git Ignore File for AxTBot Project

# Python Environment
.venv

# Build Files
*/__pycache__
*/*/__pycache__
__pycache__
*.pyc

# Development Files
dev

# Log Files
logs
latest.log

# Data Files
data

# Config Files
local.env

# Rubbish!
.copilot/
app/modules/modules.md
