# 运行时缓存文件
__pycache__
src/app/__pycache__
src/Utils/__pycache__

# 数据文件
data

# 运行时日志文件
logs

# 运行时目录
.venv

# 操作记录
.vscode

# 临时分析文件
temp.log

# 文档
docs/.vitepress/cache
docs/.vitepress/dist
docs/node_modules


# 测试相关
tests/__pycache__
.coverage
AxTBot_Public.egg-info
.pytest_cache