# AxTBot V2.1.1 Example Environment

HOST="0.0.0.0"
PORT=8080

FRAMEWORK_APPID="APPID"
FRAMEWORK_BOT_SECRET="BOT_SECRET"

FRAMEWORK_PLUGINS_DIR="plugins"
FRAMEWORK_DISABLE_PLUGINS={}

FRAMEWORK_COMMAND_TIMEOUT=60
FRAMEWORK_MAX_WORKERS=4

FRAMEWORK_LOG_LEVEL="INFO"
FRAMEWORK_LOG_DIR="logs"

FRAMEWORK_DEBUG=false

FRAMEWORK_CERT_RELOAD_ENABLED=false